*.hex
*.jpg
*.raw
*.rom
*bak
mist/*
mister/*
sidi/*
sim
pal.bin
test.lxt
core.def
out.wav
mame.xml
.DS_Store
jtexterm_game_sdram.v
game_test.v
test.cpp
jtkiwi_game_sdram.v
snd.wav
waiver
mem_ports.inc
